img.h-100{
    border-radius: 5%;
  }
.carousel-inner{
  
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  
  
  
}
.imgPoliDeportivo{
  padding: 0%;
  margin: 0%;
}

.col-sm-12{
  margin-bottom: 3%;
  
}

.deportes{
  position: relative;
}

.textoDeportes{
  position: absolute; 
  top: 10px; 
  left: 40px;
  font-size: 30px;
  color: white;
}

.fa-brands {
  font-size: 40px;
  color: #3B5998;
  
}
@media screen and (min-width: 991px) {
  .ocultar-div{
      display:none;
  }

}
@media screen and (max-width: 991px) {
  .nav-principal{
    display: none;
  }
}


